body {
  max-width: 100%;
  max-height: 100%;
  margin: 0%;
  padding: 0%;
  background: rgb(0, 0, 0);
}
#linha{
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.socialmedia {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 50px;
  font-size: 30px;
  width: 97%;
  background-color: rgb(201, 202, 144); 
  padding: 15px;
}
.socialmedia li {
  float: right;
}
.socialmedia li a {
  color: #000000; margin-right: 30px;
}
.nome {
  text-decoration: none ;
  font-size: 40px;
  margin-top: 0%;
  color: rgb(0, 0, 0); 
  right: 445px; 
  position: absolute;
}
ul {
  list-style: none;
}
.a {
  text-decoration: black; 
  font-size: larger; 
  width: max-content; 
  padding: 10px;
}
#texto-sobre {
  border-radius: 10px;
  margin-top: -6%;
  margin-left: 13%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  color: rgb(201, 202, 144);
  font-family: sans-serif;
}
#texto-carreira {
  border-radius: 10px;
  margin-left: 13%;
  margin-top: -6%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  color: rgb(201, 202, 144);
  font-family: sans-serif;
}
#texto-paixoes {
  border-radius: 10px;
  margin-top: -6%;
  margin-left: 12%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  color: rgb(201, 202, 144);
  text-align: right;
  font-family: sans-serif;
}
img:hover {
  transform:scale(1.1);
  transition-duration: 2s;
}