body {
  max-width: 1360px;
  max-height: 800px;
  margin: 0% auto;
  padding: 0%;
  background: rgb(0, 0, 0);
}
#linha{
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.socialmedia {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 50px;
  font-size: 30px;
  width: 97%;
  background-color: rgb(201, 202, 144); 
  padding: 15px;
}
.socialmedia li {
  float: right;
}
.socialmedia li a {
  color: #000000; margin-right: 30px;
}
.nome {
  text-decoration: none ;
  font-size: 40px;
  margin-top: 0%;
  color: rgb(0, 0, 0); 
  right: 445px; 
  position: absolute;
}
ul {
  list-style: none;
}
.a {
  text-decoration: black; 
  font-size: larger; 
  width: max-content; 
  padding: 10px;
}
  .iw img {
    float: left;
      margin:10px;
      margin: top 2px; ;
  }
h2 {
  margin: 15px;
  font-size: 36px;
  text-align: center;
  color:rgb(201, 202, 144);
}
p {
  color:rgb(253, 253, 253);
  font-family: Arial, Helvetica, sans-serif;
  padding-right:2%;
  padding-top: 1%;
  text-align: right;
}
.fecaf p {
  text-align: left;
  padding-left: 1%;
}
.fecaf img {
  margin-left: 1%;
 padding-left: 1%;
 padding-bottom: 1%;
}
img:hover {
  transform:scale(1.1);
}